# Match directive, which prior to #XXX was incorrectly ignored
Match exec "/usr/local/bin/check-host-reachable %h"
    # These directives are then incorrectly parsed as if unscoped/global, if
    # that bug is present.
    HostName %h-internal.domain
    SendEnv MATCH_VAR
    StrictHostKeyChecking no

# 'Clean' global host config using splat
Host *
    SendEnv GLOBAL_VAR
    StrictHostKeyChecking yes

# Truly global/unscoped settings
SendEnv UNSCOPED_VAR


# vim:set ft=sshconfig :
